bson==0.5.10
certifi==2018.11.29
click==8.0.3
colorama==0.4.4
dnspython==1.16.0
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pymongo==4.0.1
python-dateutil==2.8.2
six==1.16.0
Werkzeug==2.0.2
